.offcanvas {

	&-header {
		padding-block: 2.5rem 1.5rem;
	}

	.nav-top,
	.nav-bottom {
		flex-direction: column;
	}

	.nav-top {
		margin-bottom: .5rem;
	}

	.nav-bottom {
		margin-bottom: 1rem;
	}

	.nav-link {
		padding-inline: 0;
	}

	.accordion {

		&-item {
			border: 0;
		}

		&-header,
		&-button {
			font: inherit;
		}

		&-button {
			border: 0;
			padding: $nav-link-padding-y 0;

			.icon {
				--_i-size: .75rem;
				margin-left: unset;
				transform: initial;
				transition: $transition-base;
			}

			&:is(:hover, :focus, :not(.collapsed)) {
				color: $primary;
			}

			&:focus {
				box-shadow: unset;
			}

			&:not(.collapsed) {
				background-color: transparent;
				box-shadow: unset;

				.icon {
					transform: rotateX(180deg);
				}
			}
		}

		&-body {
			padding-block: .5rem;
			margin-bottom: .75rem;
		}
	}

	&-btn {
		max-width: 11.25rem;
		width: 100%;
	}

	.nav-contacts {
		margin-block: 1.75rem 1.5rem;
		gap: .75rem 1.25rem;

		.nav-item {

			&--phone {
				width: 100%;
			}
		}

		.nav-link {
			display: flex;
			align-items: center;
			gap: .75rem;
			padding: 0;

			.icon {
				--_i-size: 1.375rem;
			}
		}
	}

	.nav-info {
		flex-direction: column;
		gap: .75rem;

		.nav-link {
			padding: 0;
		}
	}
}